<div class="container-fluid">
  <h2>Escape the Trolls</h2>
  <button class="btn btn-primary" (click)="autoFinish()" [disabled]="state !== 'start'">Finish for me</button>
  <button class="btn btn-danger" (click)="restart()">Restart</button>

  <div class="map">
    <div *ngFor="let row of map" class="row">
      <div *ngFor="let tile of row" class="tile" [ngClass]="tile.display">
        <i *ngIf="tile.player && !tile.troll" class="fas fa-male"></i>
        <i *ngIf="tile.troll" class="fab fa-android" [class.withplayer]="tile.player"></i>
      </div>
    </div>
  </div>

  <h2 *ngIf="state === 'escaped'" class="escaped">Congratulations! You escaped from the trolls!</h2>
  <h2 *ngIf="state === 'champion'" class="champion">You are the CHAMPION! You crushed all the trolls and escaped!</h2>
  <h2 *ngIf="state === 'stuck'" class="stuck">Game Over -- You cannot find an exit and are stuck with the trolls :(</h2>
  <h2 *ngIf="state === 'eaten'" class="stuck">Game Over -- You were eaten by a troll :(</h2>
</div>